.window {
  --window--width: 1200px;
  --window--height: 605px;
}

.window.win10 {
  --window--border-width: 1px;
  --window--border-radius: 2px;
  --window--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe MDL2 Assets', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --window_header__favicon--width: 16px;
  --window_header__favicon--margin: 0 5px 0 4px;
  --window_header__title--font-size: 12px;

  --window_header__button--width: 45px;
  --window_header__button_icon--width: 10px;
  --window_header__button_icon--height: 10px;
  --window_header__button--transition: 100ms;
  --window_header__button--transition--active: 0ms;
}

.window.win11 {
  --window--border-width: 1px;
  --window--border-radius: 9px;
  --window--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe Fluent Icons', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --window_header__favicon--width: 16px;
  --window_header__favicon--margin: 0 5px 0 4px;
  --window_header__title--font-size: 12px;

  --window_header__button--width: 45px;
  --window_header__button_icon--width: 10px;
  --window_header__button_icon--height: 10px;
  --window_header__button--transition: 100ms;
  --window_header__button--transition--active: 0ms;
}

.window.chrome {
  --window_header--height: 30px;
  --window_header--border-width: 0 0 1px 0;

  --window_extra--height: 28px;
  --window_extra--border-width: 0 0 1px 0;
  
  --window_extra_wrapper--height: 27px;
  --window_extra_wrapper--transition: 150ms;

  --window_extra__safe-indicator--margin: 1px 0 1px 1px;

  --window_extra__safe-indicator_icon--padding: 0 12px;
  --window_extra__safe-indicator_icon--border-radius: 50vh;
  --window_extra__safe-indicator_icon--width: 10px;
  --window_extra__safe-indicator_icon--height: 100%;
  --window_extra__safe-indicator_icon--transition: 150ms;
  --window_extra__safe-indicator_icon--translate-y: 0px;

  --window_extra__address--margin: 0 20px 0 0;

  --window_extra__address_label--font-size: 13px;
  --window_extra__address_label--font-weight: 400;

  --window_extra__address_label_protocol--display: none;
}

@media screen and (min-width: 1366px) {
  .window {
    --window--width: 1200px;
    --window--height: 605px;
  }
}

@media screen and (min-width: 1600px) {
  .window {
    --window--width: 1319px;
    --window--height: 680px;
  }
}

@media screen and (min-width: 1920px) {
  .window {
    --window--width: 1319px;
    --window--height: 805px;
  }
}

@media (prefers-color-scheme: light) {
  .window.win10 {
    --window--border-color: #B8B8B840 #B7B7B740 #9D9D9D40 #B1B1B140;
  }

  .window.win11 {
    --window--border-color: #B8B8B840 #B7B7B740 #9D9D9D40 #B1B1B140;
  }

  .window.chrome {
    --window--background: #DEE1E6;
  
    --window_header--color: #000000;
  
    --window_header--border-color: #B2B2B2;
  
    --window_header__button--fill: #0B0B0B;

    --window_header__button--minimize--background--hover: #C7CACF;
    --window_header__button--minimize--background--active: #B2B4B8;
    --window_header__button--maximize--background--hover: #C7CACF;
    --window_header__button--maximize--background--active: #B2B4B8;
    --window_header__button--close--background--hover: #E81123;
    --window_header__button--close--background--active: #E36571;
  
    --window_extra--background: #EBEFF7;
    --window_extra--color: #000000;
  
    --window_extra--border-color: #BDBCDD;
  
    --window_extra_wrapper--background--hover: #E3E7F0;
  
    --window_extra__safe-indicator_icon--background--hover: #D7DBE2;
    --window_extra__safe-indicator_icon--fill: #5F6368;
  
    --window_extra__address_label_protocol--color: #4C4747;
  
    --window_extra__address_label_domain--color: #1F1F1F;
    
    --window_extra__address_label_path--color: #4C4747;

    --window_content--background: #FFFFFF;
  }
}

@media (prefers-color-scheme: dark) {
  .window.win10 {
    --window--border-color: #BABABA40 #B7B7B740 #99999940 #B7B7B740;
  }

  .window.win11 {
    --window--border-color: #BABABA40 #B7B7B740 #99999940 #B7B7B740;
  }

  .window.chrome {
    --window--background: #202124;
  
    --window_header--color: #FFFFFF;
  
    --window_header--border-color: #252628;
  
    --window_header__button--fill: #FFFFFF;

    --window_header__button--minimize--background--hover: #37383A;
    --window_header__button--minimize--background--active: #4D4D50;
    --window_header__button--maximize--background--hover: #37383A;
    --window_header__button--maximize--background--active: #4D4D50;
    --window_header__button--close--background--hover: #E81123;
    --window_header__button--close--background--active: #971722;
  
    --window_extra--background: #2A2A2A;
    --window_extra--color: #FFFFFF;
  
    --window_extra--border-color: #606164;
  
    --window_extra_wrapper--background--hover: #4C4C4B;
  
    --window_extra__safe-indicator_icon--background--hover: #3C3C3C;
    --window_extra__safe-indicator_icon--fill: #9AA0A6;
  
    --window_extra__address_label_protocol--color: #9B9B9B;
  
    --window_extra__address_label_domain--color: #FFFFFF;
    
    --window_extra__address_label_path--color: #9B9B9B;

    --window_content--background: #FFFFFF;
  }
}

.window-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000000;
}

.window {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: var(--window--width);
  height: var(--window--height);
  background: var(--window--background);
  border: solid;
  border-width: var(--window--border-width);
  border-color: var(--window--border-color);
  border-radius: var(--window--border-radius);
  font-family: var(--window--font-family);
  overflow: hidden;
  pointer-events: auto;
}

.window_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--window_header--height);
  color: var(--window_header--color);
  border: solid;
  border-width: var(--window_header--border-width);
  border-color: var(--window_header--border-color);
  overflow: hidden;
  user-select: none;
}

.window_header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.window_header_wrapper:first-of-type {
  flex: 1;
  justify-content: start;
}

.window_header__favicon {
  width: var(--window_header__favicon--width);
  margin: var(--window_header__favicon--margin);
  -webkit-user-drag: none;
  user-select: none;
}

.window_header__title {
  color: var(--window_header--color);
  font-size: var(--window_header__title--font-size);
  user-select: none;
}

.window_header__button--minimize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--window_header__button--width);
  height: 100%;
  font-size: var(--window_header__button--font-size);
  user-select: none;
  transition: var(--window_header__button--transition) all;
}

.window_header__button--minimize > svg {
  fill: var(--window_header__button--fill);
  width: var(--window_header__button_icon--width);
  height: var(--window_header__button_icon--width);
}

.window_header__button--minimize:hover {
  background: var(--window_header__button--minimize--background--hover);
}

.window_header__button--minimize:hover:active {
  background: var(--window_header__button--minimize--background--active);
  transition: var(--window_header__button--transition--active) all;
}

.window_header__button--maximize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--window_header__button--width);
  height: 100%;
  font-size: var(--window_header__button--font-size);
  user-select: none;
  transition: var(--window_header__button--transition) all;
}

.window_header__button--maximize > svg {
  fill: var(--window_header__button--fill);
  width: var(--window_header__button_icon--width);
  height: var(--window_header__button_icon--width);
}

.window_header__button--maximize:hover {
  background: var(--window_header__button--maximize--background--hover);
}

.window_header__button--maximize:hover:active {
  background: var(--window_header__button--maximize--background--active);
  transition: var(--window_header__button--transition--active) all;
}

.window_header__button--close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--window_header__button--width);
  height: 100%;
  font-size: var(--window_header__button--font-size);
  user-select: none;
  transition: var(--window_header__button--transition) all;
}

.window_header__button--close > svg {
  fill: var(--window_header__button--fill);
  width: var(--window_header__button_icon--width);
  height: var(--window_header__button_icon--width);
}

.window_header__button--close:hover {
  background: var(--window_header__button--close--background--hover);
}

.window_header__button--close:hover:active {
  background: var(--window_header__button--close--background--active);
  transition: var(--window_header__button--transition--active) all;
}

.window_extra {
  display: flex;
  width: 100%;
  height: var(--window_extra--height);
  background: var(--window_extra--background);
  color: var(--window_extra--color);
  border: solid;
  border-width: var(--window_extra--border-width);
  border-color: var(--window_extra--border-color);
}

.window_extra_wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  height: var(--window_extra_wrapper--height);
  transition: var(--window_extra_wrapper--transition) all;
  overflow: hidden;
}

.window_extra:hover > .window_extra_wrapper {
  background: var(--window_extra_wrapper--background--hover);
}

.window_extra__safe-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: var(--window_extra__safe-indicator--margin);
  user-select: none;
}

.window_extra__safe-indicator_icon {
  box-sizing: border-box;
  padding: var(--window_extra__safe-indicator_icon--padding);
  height: var(--window_extra__safe-indicator_icon--height);
  border-radius: var(--window_extra__safe-indicator_icon--border-radius);
  transition: var(--window_extra__safe-indicator_icon--transition) all;
}

.window_extra__safe-indicator_icon > svg {
  width: var(--window_extra__safe-indicator_icon--width);
  height: var(--window_extra__safe-indicator_icon--height);
  fill: var(--window_extra__safe-indicator_icon--fill);
  transform: translateY(var(--window_extra__safe-indicator_icon--translate-y));
}

.window_extra__safe-indicator:hover > .window_extra__safe-indicator_icon {
  background: var(--window_extra__safe-indicator_icon--background--hover);
}

.window_extra__address {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: var(--window_extra__address--margin);
  overflow: hidden;
}

.window_extra__address_label {
  font-size: var(--window_extra__address_label--font-size);
  font-weight: var(--window_extra__address_label--font-weight);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.window_extra__address_label_protocol {
  display: var(--window_extra__address_label_protocol--display);
  color: var(--window_extra__address_label_protocol--color);
}

.window_extra__address_label_domain {
  color: var(--window_extra__address_label_domain--color);
}

.window_extra__address_label_path {
  color: var(--window_extra__address_label_path--color);
}

.window_content {
  flex: 1;
  width: 100%;
}

.window_content > iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/*
     FILE ARCHIVED ON 09:28:54 Jul 22, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:07:54 Jan 09, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.566
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.014
  cdx.remote: 5.871
  LoadShardBlock: 1585.933 (3)
  PetaboxLoader3.resolve: 600.329 (4)
  PetaboxLoader3.datanode: 1156.933 (4)
  load_resource: 269.392
*/