/*
 Font: 		Motiva Sans
 URL: 		http://www.youworkforthem.com/product.php?sku=T2982
 Foundry: 	Niramekko
 Foundry: 	http://www.youworkforthem.com/designer/293/niramekko
 Copyright:	Copyright  2011 by Rodrigo Saiani. All rights reserved.
 Version: 	1.0
 Created:	August 09, 2012
 License: 	http://www.youworkforthem.com/font-license
 License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			 WebFont license rules. All other parties are strictly restricted
			 from using the WebFonts(s) listed without a purchased license.
			 All details above must always remain unaltered and visible in your CSS.
 */

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Regular.ttf?v=4.015') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Light.ttf?v=4.015') format('truetype');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Thin.ttf?v=4.015') format('truetype');
	font-weight: 200; /* Ultra-Light / Thin */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Medium.ttf?v=4.015') format('truetype');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Bold.ttf?v=4.015') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-RegularItalic.ttf?v=4.015') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-LightItalic.ttf?v=4.015') format('truetype');
	font-weight: 300; /* Light */
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-BoldItalic.ttf?v=4.015') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('https://web.archive.org/web/20240722092854im_/https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Black.ttf?v=4.015') format('truetype');
	font-weight: 900; /* Black */
	font-style: normal;
}


/*
     FILE ARCHIVED ON 09:28:54 Jul 22, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:07:56 Jan 09, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.738
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 33.915
  LoadShardBlock: 2541.87 (6)
  PetaboxLoader3.datanode: 2419.567 (8)
  PetaboxLoader3.resolve: 454.291 (3)
  load_resource: 447.014 (2)
*/